html {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    /*font-family: "Helvetica", sans-serif;*/
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 3% auto 0;
    display: flex;
    width: 325px;
    height: 450px;
    max-width: 350px;
    flex-flow: row nowrap;
}

#calculator-body {
    order: 0;
    padding: 2px 4px 2px 0;
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-flow: column wrap;
    background-color: #eeeeee;
    box-shadow: 3px 1px 14px 0 #ababab;
}

#title-holder {
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 2%;
    border-bottom: 1px solid #ffffff;
}

#title {
    margin: auto auto auto 10px;
    font-size: 2em;
    font-weight: 300;
}


#display-holder {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    height: 30%;
    min-height: fit-content;
    width: 100%;
    margin: 2px;
}

#display-top {
    display: flex;
    flex-flow: row-reverse nowrap;
    flex: 1 0 auto;
    height: 35%;
    font-size: 1.3em;
    padding-right: 10px;
    color: #777;
}

.display-flag {
    font-size: 1.0em;
}

.display-y {
    font-size: 1.1em;
    display: none;
}

#display-bottom {
    display: flex;
    flex-flow: row-reverse nowrap;
    flex: 1 0 auto;
    font-size: 2.5em;
    padding-right: 10px;
}

#display-holder > div > div{
    margin: auto 0;
    padding-right: 5px;
}

#display-holder > div > div > p {
    margin: 0;
    text-align: right;
}

#button-holder {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    margin: 2px;
    width: 100%;
}

.button-row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
}

.calculator-button {
    width: 20%;
    flex: 1 1 auto;
    margin: 0;
    font-size: 1.25em;
    color: #222;
    background-color: #2196F3;
    border: 2px solid #eeeeee;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.calculator-button > div {
    margin: auto;
}

.button-function {
    font-weight: 400;
    background-color: #f7f7f7 !important;
}

.button-function:hover{
    background-color: #dfdfdf !important;
}

.button-function:active{
    background-color: #ACACAC !important;
}

.button-number {
    background-color: #ffffff !important;
    font-weight: 900;
}

.button-number:hover {
    background-color: #D5D5D5 !important;
}

.button-number:active{
    background-color: #BFBFBF !important;

}

.button-disabled {
    background-color: #D5D5D5!important;
}

/* Ripple magic */
.calculator-button{
    position: relative;
    overflow: hidden;
}

.calculator-button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.calculator-button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}