.gameboard{
    width: 75%;
    margin: 0 auto;
    height: 600px;
}

.container {
    display: grid;
    height: 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "player-label computer-label output"
            "player-score-holder computer-score-holder output"
            "rock paper scissors";
}

.player-label{
    position: relative;
    grid-area: player-label;
    background-color: whitesmoke;
    /*border-style: solid;*/
    /*border-width: 3px 3px 0 3px;*/
}
.computer-label{
    position: relative;
    grid-area: computer-label;
    background-color: whitesmoke;
    /*border-style: solid;*/
    /*border-width: 3px 3px 0 0;*/

}
.label-content{
    font-size: 2em;
    line-height: 3em;
    margin: 0 auto;
    width: 90%;
    text-align: right;

}
.player-score-holder{
    background-color: #bbdefb;
    position: relative;
    grid-area: player-score-holder;
    /*border-style: solid;*/
    /*border-width: 0 3px 3px 3px;*/
}
.computer-score-holder{
    background-color: #bbdefb;
    position: relative;
    grid-area: computer-score-holder;
    /*border-style: solid;*/
    /*border-width: 0 3px 3px 0;*/
}
.rock {
    grid-area: rock;
    //background-color: saddlebrown;
}

.paper {
    grid-area: paper;
    //background-color: floralwhite;
}

.scissors {
    grid-area: scissors;
    //background-color: silver;
}

.score{
    font-size: 3em;
    /*line-height: 3em;*/
    width: 90%;
    text-align: right;

}

.output {
    grid-area: output;
    background-color: #ffa726;
}

/* Material style */
button {
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 40px;
    border-radius: 2px;
    font-size: 22px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: #2196F3;
}

/* Ripple magic */
button{
    position: relative;
    overflow: hidden;
}

button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

.game-log-item {
    padding-left: 5px;
    color: #333333;

}


.disablepagediv {
    z-index: 1001;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #aaaaaa;
}

.masterpopup {
    width: 270px;
    height: 100px;
    position: absolute;
    color: #000000;
    background-color: #ffffff;
    /* To align popup window at the center of screen*/
    top: 200px;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    border: 1px solid rgb(124, 153, 193);
}

.popupBar {
    height:25px;
    line-height:25px;
    background-color: #2196F3;
    color:white;
    padding-left:5px;
}