body{
  background-color: #fff;
}

.gameboard {
  width: 75%;
  margin-top: 2em;
  background-color: #eeeeee;
  height: 600px;
}

.container {
  width: 80%;
  padding: 1em;
  margin: .25em;
  height: 100%;
}

.scoreboard {
  height: 40%;
  background-color: #555555;
  margin: .25em;
  padding: .25em;
}

.scoreholder {
  width: 30%;
  margin: .1em;
  padding: .1em;
}

.score {
  width: 50%;
  margin: .05em;
  padding: .1em;
}

.player-score {
  float: left;
  color: #01de66;
}

.computer-score {
  float: right;
  color: #ef2211;
}

.output {
  width: 70%;
  background-color: #333333;
  color: #ffffff;
  margin: .1em;
  padding: .1em;
}

.play-area {
  height: 60%;
  margin: 1em;
  padding: 1em;
}

.game-button {
  color: #222;
  background-color: #ffffff;
  margin: .125em;
  padding: .1em;
}


